/* Home.css */
.home-background {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 80px; /* Adjust based on your navbar height */
  }
  

  .container {
    z-index: 2;
  }
  
  .card {
    background-color: rgba(10, 8, 8, 0.295); /* Semi-transparent card background */
    border: none;
    border-radius: 50px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(196, 82, 82, 0.3);
  }
  
  .card-img-top {
    height: 180px;
    object-fit: cover;
  }
  
  .card-body {
    text-align: center;
  }
  
  .btn {
    font-weight: bold;
    border-radius: 30px;
    padding: 10px 30px;
    transition: background-color 0.3s ease;
  }
  
  .btn-dark {
    background-color: #191331b5;
  }
  
  .btn:hover {
    background-color: #000000be;
  }
  
  .navbar {
    background: rgba(0, 0, 0, 0.8); /* Adjust navbar transparency */
  }
  
  .navbar .nav-link {
    color: white !important;
  }
  
  .navbar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white !important;
    border-radius: 20px;
  }
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }
    