/* Container styling for the StreamingPlatforms component */
.streaming-container {
  padding: 10px;
  text-align: center;
}

/* Flex container to arrange NasaTv components in a row */
.streaming-row {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap on smaller screens */
  justify-content: center; /* Center the items horizontally */
}



/* Responsive adjustments */
@media screen and (max-width: 1200px) {
  .iframe-container {
    width: 45%; /* Shrinks the width when screen size is below 1200px */
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .iframe-container {
    width: 100%; /* Takes full width for mobile screens */
    height: auto;
  }
}
