/* Container styling for the StreamingPlatforms component */
.streaming-container {
  text-align: center;
}

/* Flex container to arrange NasaTv components in a row */
.streaming-row {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
}



/* Responsive adjustments */
@media screen and (max-width: 1200px) {
  .iframe-container {
    width: 45%; 
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .iframe-container {
    width: 100%; 
    height: auto;
  }
}
